USE [Student]
GO
/****** Object:  Table [dbo].[CareGapDetails_PriorYear_Logic]    Script Date: 3/17/2020 11:47:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareGapDetails_PriorYear_Logic](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NULL,
	[PhysicianId] [uniqueidentifier] NULL,
	[PracticeId] [uniqueidentifier] NULL,
	[MedicareID] [varchar](50) NOT NULL,
	[Care1Rank] [varchar](50) NULL,
	[Care2Rank] [varchar](50) NULL,
	[CADRank] [varchar](50) NULL,
	[DMRank] [varchar](50) NULL,
	[HFRank] [varchar](50) NULL,
	[HTNRank] [varchar](50) NULL,
	[IVDRank] [varchar](50) NULL,
	[Prev5Rank] [varchar](50) NULL,
	[Prev6Rank] [varchar](50) NULL,
	[Prev7Rank] [varchar](50) NULL,
	[Prev8Rank] [varchar](50) NULL,
	[Prev9Rank] [varchar](50) NULL,
	[Prev10Rank] [varchar](50) NULL,
	[Prev11Rank] [varchar](50) NULL,
	[Prev12Rank] [varchar](50) NULL,
	[Prev13Rank] [varchar](50) NULL,
	[CurrentMode] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[MedicalRecordFound] [varchar](50) NULL,
	[CareReason] [varchar](150) NULL,
	[CareDate] [date] NULL,
	[MRPDConfirmation] [varchar](50) NULL,
	[MRPDPrepoulatedate] [date] NULL,
	[MRPDInpatientdischarge] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled] [varchar](50) NULL,
	[MRPDComments] [varchar](140) NULL,
	[FSConfirmation] [varchar](128) NULL,
	[FSFuturefallrisk] [varchar](50) NULL,
	[FSComments] [varchar](140) NULL,
	[DMConfirmation] [varchar](50) NULL,
	[DMHbA1CResult] [varchar](50) NULL,
	[DMDateDrawn] [date] NULL,
	[DMEyeExam] [varchar](50) NULL,
	[DMComments] [varchar](140) NULL,
	[HTNConfirmation] [varchar](50) NULL,
	[HTNHbA1CTestPerformed] [varchar](50) NULL,
	[HTNDateTaken] [date] NULL,
	[HTNSystolic] [int] NULL,
	[HTNDiastolic] [int] NULL,
	[HTNComments] [varchar](140) NULL,
	[IVDConfirmation] [varchar](50) NULL,
	[IVDAspirinUsage] [varchar](50) NULL,
	[IVDComments] [varchar](140) NULL,
	[MHConfirmation] [varchar](100) NULL,
	[MHPHQ9TestPerformed] [varchar](50) NULL,
	[MHPHQ9IndexGreaterthan9] [varchar](50) NULL,
	[MHPHQ9IndexDate] [date] NULL,
	[MHPHQ9IndexTestScore] [int] NULL,
	[MHPHQ9FollowUpTest] [varchar](50) NULL,
	[MHPHQ9FollowUpLessthan5] [varchar](50) NULL,
	[MHPHQ9FollowUpDate] [date] NULL,
	[MHPHQ9FollowUpScore] [int] NULL,
	[MHComments] [varchar](140) NULL,
	[BCConfirmation] [varchar](50) NULL,
	[BCScreening] [varchar](50) NULL,
	[BCComments] [varchar](140) NULL,
	[CSConfirmation] [varchar](50) NULL,
	[CSScreening] [varchar](50) NULL,
	[CSComments] [varchar](140) NULL,
	[ImmunizationConfirmation] [varchar](50) NULL,
	[ImmunizationReceived] [varchar](75) NULL,
	[ImmunizationComments] [varchar](140) NULL,
	[PneumoConfirmation] [varchar](50) NULL,
	[PneumoVaccinationReceived] [varchar](50) NULL,
	[PneumoComments] [varchar](140) NULL,
	[BMIConfirmation] [varchar](50) NULL,
	[BMICalculated] [varchar](50) NULL,
	[BMINormal] [varchar](50) NULL,
	[BMSFollowUpPlan] [varchar](50) NULL,
	[BMIComments] [varchar](140) NULL,
	[TobaccoConfirmation] [varchar](50) NULL,
	[TobaccoUse] [varchar](50) NULL,
	[TobaccoCounseling] [varchar](50) NULL,
	[TobaccoComments] [varchar](140) NULL,
	[HBPConfirmation] [varchar](50) NULL,
	[BPScreening] [varchar](50) NULL,
	[BPNormal] [varchar](50) NULL,
	[BPFollowUpPlan] [varchar](50) NULL,
	[BPComments] [varchar](140) NULL,
	[CDConfirmation] [varchar](50) NULL,
	[CDScreening] [varchar](50) NULL,
	[CDPositive] [varchar](50) NULL,
	[CDFollowUpPlan] [varchar](50) NULL,
	[CDComments] [varchar](140) NULL,
	[StatinSCVD_Diagnosed] [varchar](50) NULL,
	[StatinLDLC190mg] [varchar](70) NULL,
	[StatinType] [varchar](70) NULL,
	[StatinLDLC70_180mg] [varchar](70) NULL,
	[StatinUsed] [varchar](50) NULL,
	[StatinComments] [varchar](140) NULL,
	[CADConfirmation] [varchar](70) NULL,
	[CADComments] [varchar](140) NULL,
	[HFConfirmation] [varchar](70) NULL,
	[HFComments] [varchar](140) NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[MHRank] [varchar](50) NULL,
	[HFPatientLVEF] [varchar](50) NULL,
	[HFBetaBlocker] [varchar](50) NULL,
	[ProviderNPI] [nvarchar](50) NULL,
	[ProviderNPITwo] [nvarchar](50) NULL,
	[ProviderNPIThree] [nvarchar](50) NULL,
	[MedicalRecordNumber] [nvarchar](50) NULL,
	[OtherId] [nvarchar](50) NULL,
	[ClinicIdentifier] [nvarchar](50) NULL,
	[GeneralComments] [nvarchar](140) NULL,
	[CADLVSD] [nvarchar](50) NULL,
	[CADACEARB] [nvarchar](50) NULL,
	[CADPrescribed] [nvarchar](50) NULL,
	[CADDiabetes] [nvarchar](50) NULL,
	[DMHbA1CValue] [nvarchar](50) NULL,
	[MRPDPrepoulatedate2] [date] NULL,
	[MRPDPrepoulatedate3] [date] NULL,
	[MRPDPrepoulatedate4] [date] NULL,
	[MRPDPrepoulatedate5] [date] NULL,
	[MRPDPrepoulatedate6] [date] NULL,
	[MRPDPrepoulatedate7] [date] NULL,
	[MRPDPrepoulatedate8] [date] NULL,
	[MRPDPrepoulatedate9] [date] NULL,
	[MRPDPrepoulatedate10] [date] NULL,
	[MRPDInpatientdischarge2] [varchar](50) NULL,
	[MRPDInpatientdischarge3] [varchar](50) NULL,
	[MRPDInpatientdischarge4] [varchar](50) NULL,
	[MRPDInpatientdischarge5] [varchar](50) NULL,
	[MRPDInpatientdischarge6] [varchar](50) NULL,
	[MRPDInpatientdischarge7] [varchar](50) NULL,
	[MRPDInpatientdischarge8] [varchar](50) NULL,
	[MRPDInpatientdischarge9] [varchar](50) NULL,
	[MRPDInpatientdischarge10] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days2] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days3] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days4] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days5] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days6] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days7] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days8] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days9] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days10] [varchar](50) NULL,
	[Care1Eligible] [bit] NULL,
	[Care2Eligible] [bit] NULL,
	[CADEligible] [bit] NULL,
	[DMEligible] [bit] NULL,
	[HFEligible] [bit] NULL,
	[HTNEligible] [bit] NULL,
	[IVDEligible] [bit] NULL,
	[Prev5Eligible] [bit] NULL,
	[Prev6Eligible] [bit] NULL,
	[Prev7Eligible] [bit] NULL,
	[Prev8Eligible] [bit] NULL,
	[Prev9Eligible] [bit] NULL,
	[Prev10Eligible] [bit] NULL,
	[Prev12Eligible] [bit] NULL,
	[Prev13Eligible] [bit] NULL,
	[MHEligible] [bit] NULL,
	[Care1Excluded] [bit] NULL,
	[Care2Excluded] [bit] NULL,
	[CADExcluded] [bit] NULL,
	[DMExcluded] [bit] NULL,
	[HFExcluded] [bit] NULL,
	[HTNExcluded] [bit] NULL,
	[IVDExcluded] [bit] NULL,
	[Prev5Excluded] [bit] NULL,
	[Prev6Excluded] [bit] NULL,
	[Prev7Excluded] [bit] NULL,
	[Prev8Excluded] [bit] NULL,
	[Prev9Excluded] [bit] NULL,
	[Prev10Excluded] [bit] NULL,
	[Prev12Excluded] [bit] NULL,
	[Prev13Excluded] [bit] NULL,
	[MHExcluded] [bit] NULL,
	[MRPDDischargemedicationsreconciled2] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled3] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled4] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled5] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled6] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled7] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled8] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled9] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled10] [varchar](50) NULL,
	[BeneficiaryIDType] [varchar](50) NULL,
	[NumberofDischarges] [int] NULL,
	[MRPDPrepoulatedate11] [varchar](50) NULL,
	[MRPDInpatientdischarge11] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days11] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled11] [varchar](50) NULL,
	[MRPDPrepoulatedate12] [varchar](50) NULL,
	[MRPDInpatientdischarge12] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days12] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled12] [varchar](50) NULL,
	[MRPDPrepoulatedate13] [varchar](50) NULL,
	[MRPDInpatientdischarge13] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days13] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled13] [varchar](50) NULL,
	[MRPDPrepoulatedate14] [varchar](50) NULL,
	[MRPDInpatientdischarge14] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days14] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled14] [varchar](50) NULL,
	[MRPDPrepoulatedate15] [varchar](50) NULL,
	[MRPDInpatientdischarge15] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days15] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled15] [varchar](50) NULL,
	[MRPDPrepoulatedate16] [varchar](50) NULL,
	[MRPDInpatientdischarge16] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days16] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled16] [varchar](50) NULL,
	[MRPDPrepoulatedate17] [varchar](50) NULL,
	[MRPDInpatientdischarge17] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days17] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled17] [varchar](50) NULL,
	[MRPDPrepoulatedate18] [varchar](50) NULL,
	[MRPDInpatientdischarge18] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days18] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled18] [varchar](50) NULL,
	[MRPDPrepoulatedate19] [varchar](50) NULL,
	[MRPDInpatientdischarge19] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days19] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled19] [varchar](50) NULL,
	[MRPDPrepoulatedate20] [varchar](50) NULL,
	[MRPDInpatientdischarge20] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days20] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled20] [varchar](50) NULL,
	[MRPDPrepoulatedate21] [varchar](50) NULL,
	[MRPDInpatientdischarge21] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days21] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled21] [varchar](50) NULL,
	[MRPDPrepoulatedate22] [varchar](50) NULL,
	[MRPDInpatientdischarge22] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days22] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled22] [varchar](50) NULL,
	[MRPDPrepoulatedate23] [varchar](50) NULL,
	[MRPDInpatientdischarge23] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days23] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled23] [varchar](50) NULL,
	[MRPDPrepoulatedate24] [varchar](50) NULL,
	[MRPDInpatientdischarge24] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days24] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled24] [varchar](50) NULL,
	[MRPDPrepoulatedate25] [varchar](50) NULL,
	[MRPDInpatientdischarge25] [varchar](50) NULL,
	[MRPDInpatientdischargewithin30days25] [varchar](50) NULL,
	[MRPDDischargemedicationsreconciled25] [varchar](50) NULL,
	[ConfirmationComments] [varchar](50) NULL,
	[TobaccoMostRecent] [varchar](50) NULL,
	[TobaccoScreening] [varchar](50) NULL,
	[DisqualificationReason] [varchar](50) NULL,
	[IneligibleDate] [varchar](10) NULL,
	[Care-2 QPP Service Center Ticket Number] [varchar](50) NULL,
	[DM-2 QPP Service Center Ticket Number] [varchar](50) NULL,
	[HTN-2 QPP Service Center Ticket Number] [varchar](50) NULL,
	[MH-1 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-5 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-6 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-7 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-10 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-12 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-13-1 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-13-2 QPP Service Center Ticket Number] [varchar](50) NULL,
	[PREV-13-3 QPP Service Center Ticket Number] [varchar](50) NULL,
	[EmrSource] [nvarchar](50) NULL,
	[ALTERdDate] [datetime2](7) NULL,
	[ALTERdBy] [uniqueidentifier] NULL,
	[ACO_08_Numerator] [int] NULL,
	[ACO_08_Denominator] [int] NULL,
	[ACO_38_Numerator] [int] NULL,
	[ACO_38_Denominator] [float] NULL,
	[ACO_43_Numerator] [int] NULL,
	[ACO_43_Denominator] [float] NULL,
	[HtnDenominatorExclusion1] [nvarchar](32) NULL,
	[HtnDenominatorExclusion2] [nvarchar](32) NULL,
	[Prev10ScreeningDate] [datetime] NULL,
	[MhDenominatorExclusion] [nvarchar](32) NULL,
	[Prev13DenominatorExclusion] [nvarchar](32) NULL,
	[TobaccoDate] [nvarchar](16) NULL,
	[Prev5ScreeningDate] [nvarchar](16) NULL,
	[BCConfirmation_CHS] [nvarchar](32) NULL,
	[Prev5_DenomExclusion] [nvarchar](32) NULL,
	[Prev12_DenomExclusion] [nvarchar](32) NULL,
	[Prev13_DenomExclusion] [nvarchar](32) NULL,
	[Prev6HaveDiagnosis] [nvarchar](32) NULL,
	[Prev6ScreeningType] [varchar](40) NULL,
	[Prev6ScreeningDate] [nvarchar](32) NULL,
	[TobaccoCessation] [nvarchar](32) NULL,
	[Alcohol_Confirmation_Q1] [nvarchar](50) NULL,
	[Alcohol_DenomEx1_Q1] [nvarchar](50) NULL,
	[Alcohol_DenomEx2_Q1] [nvarchar](50) NULL,
	[Alcohol_NumQual1_Q1] [nvarchar](50) NULL,
	[Alcohol_NumQual1_Q2] [nvarchar](50) NULL,
	[Alcohol_NumQual1_Q3] [nvarchar](50) NULL,
	[Alcohol_NumQual1_Comments] [nvarchar](150) NULL,
	[Alcohol_NumQual2_Q1] [nvarchar](50) NULL,
	[Alcohol_NumQual2_Q2] [nvarchar](50) NULL,
	[Alcohol_NumQual2_Q3] [nvarchar](50) NULL,
	[Alcohol_NumQual2_Comments] [nvarchar](510) NULL,
	[Alcohol_Comments] [nvarchar](150) NULL,
	[Alcohol_Status] [nvarchar](50) NULL,
	[Alcohol_Rank] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_PriorYear_Logic_CareGapsDetails_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_IsEligible]  DEFAULT ((1)) FOR [Care1Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Care2Eligible]  DEFAULT ((1)) FOR [Care2Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_CADEligible]  DEFAULT ((1)) FOR [CADEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_DMEligible]  DEFAULT ((1)) FOR [DMEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_HFEligible]  DEFAULT ((1)) FOR [HFEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_HTNEligible]  DEFAULT ((1)) FOR [HTNEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_IVDEligible]  DEFAULT ((1)) FOR [IVDEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev5Eligible]  DEFAULT ((1)) FOR [Prev5Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev6Eligible]  DEFAULT ((1)) FOR [Prev6Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev7Eligible]  DEFAULT ((1)) FOR [Prev7Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev8Eligible]  DEFAULT ((1)) FOR [Prev8Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev9Eligible]  DEFAULT ((1)) FOR [Prev9Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev10Eligible]  DEFAULT ((1)) FOR [Prev10Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev12Eligible]  DEFAULT ((1)) FOR [Prev12Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev13Eligible]  DEFAULT ((1)) FOR [Prev13Eligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_MHEligible]  DEFAULT ((1)) FOR [MHEligible]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Care1Excluded]  DEFAULT ((0)) FOR [Care1Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Care2Excluded]  DEFAULT ((0)) FOR [Care2Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_CADExcluded]  DEFAULT ((0)) FOR [CADExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_DMExcluded]  DEFAULT ((0)) FOR [DMExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_HFExcluded]  DEFAULT ((0)) FOR [HFExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_HTNExcluded]  DEFAULT ((0)) FOR [HTNExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_IVDExcluded]  DEFAULT ((0)) FOR [IVDExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev5Excluded]  DEFAULT ((0)) FOR [Prev5Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev6Excluded]  DEFAULT ((0)) FOR [Prev6Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev7Excluded]  DEFAULT ((0)) FOR [Prev7Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev8Excluded]  DEFAULT ((0)) FOR [Prev8Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev9Excluded]  DEFAULT ((0)) FOR [Prev9Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev10Excluded]  DEFAULT ((0)) FOR [Prev10Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev12Excluded]  DEFAULT ((0)) FOR [Prev12Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_Prev13Excluded]  DEFAULT ((0)) FOR [Prev13Excluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  CONSTRAINT [DF_CareGapsDetails_PriorYear_Logic_MHExluded]  DEFAULT ((0)) FOR [MHExcluded]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_08_Numerator]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_08_Denominator]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_38_Numerator]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_38_Denominator]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_43_Numerator]
GO
ALTER TABLE [dbo].[CareGapDetails_PriorYear_Logic] ADD  DEFAULT ((0)) FOR [ACO_43_Denominator]
GO
